@import '../../scss/mixins';

$sidebar-width: 280px;

.header {
    flex: 0 0 $sidebar-width;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 10;
    border-right: 1px solid #e6e6e6;
    background-color: #fff;
    transition: left 0.2s ease;

    @include m-mobile {
        flex: none;
        display: block;
        position: fixed;
        left: -#{$sidebar-width};
        width: $sidebar-width;
        border-bottom: 1px solid #e5e5e5;
    }

    & :global {
        .title {
            padding: 15px;
            text-align: center;
        }

        .hb-menu {
            display: none;
            position: absolute;
            top: 0;
            right: -60px;
            padding: 4px;
            transition: right 0.2s ease;

            @include m-mobile {
                display: block;
            }

            button {
                display: block;
                margin: 0;
                padding: 10px;
                background: transparent;
                border: 0;
                line-height: 0;
            }
        }
    }
}

.is-expanded {
    left: 0;
    z-index: 110;
    transition: left 0.2s ease;

    & :global {
        .hb-menu {
            display: none;
        }
    }
}

.nav {
    flex: 1 1 auto;
    justify-content: flex-start;
    padding: 15px 0;

    & :global {
        .nav-item {
            &.is-disabled {
                opacity: 0.5;
                pointer-events: none;
            }

            &.is-active {
                border-right: 4px solid #6395b7;

                a {
                    font-weight: bold;
                }
            }

            a {
                display: block;
                padding: 8px 15px;
                color: #333;
                line-height: 34px;
                text-decoration: none;
                box-sizing: border-box;
            }
        }

        .nav-feedback-email {
            display: block;
            padding: 40px 15px 0;
            font-size: 0.8em;
            color: #999;
        }

        .item-ico {
            width: 24px;
            height: 24px;
            vertical-align: -6px;
        }
    
        .item-title {
            display: inline-block;
            margin-left: 16px;
        }
    }
}

.sidebar-dimmer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 105;
    background-color: rgba(0, 0, 0, 0.3);
}