$sidebar-width: 240px;
$sidebar-width-mobile: 80px;

.header {
    flex: 0 0 $sidebar-width;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    border-right: 1px solid #e6e6e6;
    // -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.05);
    // -moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.05);
    // box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.05);
    transition: all 0.3s ease;

    @media only screen and (max-width: 640px) {
        flex: 0 0 $sidebar-width-mobile;
        height: $sidebar-width-mobile;
        overflow: hidden;
    }

    & :global {
        .title {
            padding: 15px;
            text-align: center;
        }
    }
}

.is-folded {
    flex: 0 0 80px;
    transition: all 0.3s ease;
}

.nav {
    flex: 1 1 auto;
    justify-content: flex-start;
    padding: 15px;

    & :global {
        .nav-item {    
            &[data-item="timeline"] svg {
                transform: rotate(90deg);
            }


    
            a {
                display: block;
                padding: 8px 0;
                color: #333;
                line-height: 34px;
                text-decoration: none;
                box-sizing: border-box;
            }
        }

        .item-ico {
            width: 24px;
            height: 24px;
            vertical-align: middle;
        }
    
        .item-title {
            display: inline-block;
            margin-left: 8px;
        }
    }
}

.instant-search {
    padding: 0 15px;    

    & :global {
        .instant-search-inner {
            position: relative;
            border: 1px solid #e9e9e9;
            line-height: 36px;
            border-radius: 8px;
            -webkit-box-shadow: 0px 2px 6px 3px rgba(0,0,0,0.1);
            -moz-box-shadow: 0px 2px 6px 3px rgba(0,0,0,0.1);
            box-shadow: 0px 2px 6px 3px rgba(0,0,0,0.1);
            box-sizing: border-box;
        }

        input {
            display: block;
            appearance: none;
            -webkit-appearance: none;
            width: 100%;
            height: 100%;
            padding: 12px 40px 12px 18px;
            border: 0;
            border-radius: 8px;
            box-sizing: border-box;
            font-size: 1.05em;

            &:focus {
                outline-color: #0f2d55;
            }
        }

        .ico-search {
            position: absolute;
            top: 0;
            right: 0;
            width: 44px;
            height: 44px;
            padding: 0;
            appearance: none;
            -webkit-appearance: none;
            background-color: transparent;
            border: 0;
            opacity: 0.5;
        }
    }
}