@import '../../scss/functions';
@import '../../scss/variables';

/* Custom Layout
--------------------------------------------------------------------------------------------------*/

.fc .fc-content-skeleton {
    padding: 8px 0 0;
    border-top: 1px solid #eee;
}

.fc .fc-view {
    border-bottom: 1px solid #eee;
}

.fc .fc-time {
    // font-family: Helvetica, serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fc .fc-more-popover {
    padding: 10px;
    background-color: #fff;
    box-sizing: border-box;
}

.fc .fc-more-popover .fc-event-container {
    margin-top: 12px;
    padding: 0;
}

@media only screen and (max-width: 640px) {
    .fc .fc-time {
        position: absolute;
        overflow: hidden;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0 0 0 0);
    }
}

.fc .fc-body .fc-event {
    position: relative;
    border-radius: 6px;
    cursor: pointer;

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        display: block;
        width: 20px;
        height: 100%;
        border-radius: 0 6px 6px 0;
        content: "";
    }

    // &:hover,
    // &:focus {
    //     transform: scale(1.01);
    //     transition: transform 0.1s ease;
    // }
    
    .fc-content {
        padding: 4px;
        font-size: 0.8em;
        font-weight: normal;
    }

    .fc-title {
        margin: -4px;
        padding: 4px;
        pointer-events: none;
    }
}

/* Custom Class
--------------------------------------------------------------------------------------------------*/

.fc .fc-body .fc-event {
    &[class*="tv-"] {
        background-color: map-deep-get($event-class, tv, backgroundColor);
        color: map-deep-get($event-class, tv, color);

        // &:after {
        //     background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 169, 255, 1) 75%, rgba(0, 169, 255, 1) 100%);
        // }
    }
    &[class*="r-"] {
        background-color: map-deep-get($event-class, radio, backgroundColor);
        color: map-deep-get($event-class, radio, color);

        // &:after {
        //     background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 187, 59, 1) 75%, rgba(255, 187, 59, 1) 100%);
        // }
    }

    &.tv-record {
        background-color: map-deep-get($event-class, record, backgroundColor);
        color: map-deep-get($event-class, record, color);
    }

    &.e-fansign {
        background-color: map-deep-get($event-class, fansign, backgroundColor);
        color: map-deep-get($event-class, fansign, color);

        // &:after {
        //     background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(3, 189, 158, 1) 75%, rgba(3, 189, 158, 1) 100%);
        // }
    }

    &.e-univ-festival {
        background-color: map-deep-get($event-class, univfest, backgroundColor);
        color: map-deep-get($event-class, univfest, color);

        // &:after {
        //     background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(195, 71, 174, 1) 75%, rgba(195, 71, 174, 1) 100%);
        // }
    }

    &.e-local-event {
        background-color: map-deep-get($event-class, localevent, backgroundColor);
        color: map-deep-get($event-class, localevent, color);

        // &:after {
        //     background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(73, 71, 195, 1) 75%, rgba(73, 71, 195, 1) 100%);
        // }
    }

    &.e-concert {
        background-color: map-deep-get($event-class, concert, backgroundColor);
        color: map-deep-get($event-class, concert, color);

        // &:after {
        //     background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(195, 71, 129, 1) 75%, rgba(195, 71, 129, 1) 100%);
        // }
    }

    &.vapp {
        background-color: map-deep-get($event-class, vlive, backgroundColor);
        color: map-deep-get($event-class, vlive, color);

        // &:after {
        //     background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(84, 247, 255, 1) 75%, rgba(84, 247, 255, 1) 100%);
        // }
    }
}

/* Media Query
--------------------------------------------------------------------------------------------------*/
// @media (max-device-width: 640px) {
//     .fc-event {
//         font-size: .6em !important;
//     }
// }