@import '../../../../scss/functions';
@import '../../../../scss/variables';
@import '../../../../scss/mixins';

/* Custom Layout
--------------------------------------------------------------------------------------------------*/

.fc .fc-row.ui-widget-header {
    @include m-mobile {
        border-bottom: 1px solid #ccc;
        -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.03);
        -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.03);
        box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.03);
        box-sizing: border-box;
    }
}

.fc .fc-content-skeleton {
    padding: 8px 0 4px;
    border-top: 1px solid #eee;
}

.fc .fc-view {
    border-bottom: 1px solid #eee;
}

.fc .fc-time {
    // font-family: Helvetica, serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fc .fc-more-popover {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.5);
}

.fc .fc-more-popover .fc-event-container {
    margin-top: 12px;
    padding: 0;
}

.fc .fc-day-header {
    padding-bottom: 8px !important;

    @include m-mobile {
        text-align: center;
    }
}

.fc .fc-day-number {
    display: inline-block;
    margin-bottom: 6px;
    padding-left: 6px;
    box-sizing: border-box;
    text-align: center;
}

.fc td.fc-day-top.fc-today {
    position: relative;

    .fc-day-number {
        position: relative;
        border-radius: 100%;
        font-weight: bold;
        color: #fff;

        &::before {
            display: block;
            position: absolute;
            top: -3px;
            left: 2px;
            z-index: -1;
            width: 28px;
            height: 28px;
            border-radius: 100%;
            background-color: #508bed;
            content: "";
        }
    }
}

.fc .fc-bg td.fc-today {
    position: relative;
    background-color: #f1f4ff;
}

.fc .fc-more-cell {
    div {
        display: table-cell;
    }

    .fc-more {
        display: block;
        font-weight: bold;
        line-height: 23px;
        color: #316ac7;
    }
}

@media only screen and (max-width: 640px) {
    .fc .fc-time {
        position: absolute;
        overflow: hidden;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0 0 0 0);
    }
    .fc .fc-title {
        font-size: 10px;
    }
}

.fc .fc-body .fc-event {
    position: relative;
    border-radius: 6px;
    cursor: pointer;

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        display: block;
        width: 20px;
        height: 100%;
        border-radius: 0 6px 6px 0;
        content: "";
    }

    // &:hover,
    // &:focus {
    //     transform: scale(1.01);
    //     transition: transform 0.1s ease;
    // }
    
    .fc-content {
        padding: 4px;
        font-size: 0.8em;
        font-weight: normal;
    }

    .fc-title {
        margin: -4px;
        padding: 4px;
        pointer-events: none;
    }
}

/* Custom Class
--------------------------------------------------------------------------------------------------*/

.fc .fc-body .fc-event {
    &.c-holiday,
    &.c-anniv {
        pointer-events: none;
    }

    &.c-tv {
        background-color: map-deep-get($event-class, tv, bgColor);
        color: map-deep-get($event-class, tv, color);

        // &:after {
        //     background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 169, 255, 1) 75%, rgba(0, 169, 255, 1) 100%);
        // }
    }
    &.c-radio {
        background-color: map-deep-get($event-class, radio, bgColor);
        color: map-deep-get($event-class, radio, color);

        // &:after {
        //     background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 187, 59, 1) 75%, rgba(255, 187, 59, 1) 100%);
        // }
    }

    &.c-tv.tv-music {
        background-color: map-deep-get($event-class, tv, tv-music, bgColor);
        color: map-deep-get($event-class, tv, tv-music, color);
    }

    &.c-tv.tv-record {
        background-color: map-deep-get($event-class, tv, tv-record, bgColor);
        color: map-deep-get($event-class, tv, tv-record, color);
    }

    &.c-fansign {
        background-color: map-deep-get($event-class, fansign, bgColor);
        color: map-deep-get($event-class, fansign, color);

        // &:after {
        //     background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(3, 189, 158, 1) 75%, rgba(3, 189, 158, 1) 100%);
        // }
    }

    &.c-event.event-univ {
        background-color: map-deep-get($event-class, event, event-univ, bgColor);
        color: map-deep-get($event-class, event, event-univ, color);

        // &:after {
        //     background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(195, 71, 174, 1) 75%, rgba(195, 71, 174, 1) 100%);
        // }
    }

    &.c-event.event-local {
        background-color: map-deep-get($event-class, event, event-local, bgColor);
        color: map-deep-get($event-class, event, event-local, color);

        // &:after {
        //     background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(73, 71, 195, 1) 75%, rgba(73, 71, 195, 1) 100%);
        // }
    }

    &.c-concert {
        background-color: map-deep-get($event-class, concert, bgColor);
        color: map-deep-get($event-class, concert, color);

        // &:after {
        //     background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(195, 71, 129, 1) 75%, rgba(195, 71, 129, 1) 100%);
        // }
    }

    &.c-vlive {
        background-color: map-deep-get($event-class, vlive, bgColor);
        color: map-deep-get($event-class, vlive, color);

        // &:after {
        //     background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(84, 247, 255, 1) 75%, rgba(84, 247, 255, 1) 100%);
        // }
    }
    
    &.c-vlive.vlive-chplus {
        background: map-deep-get($event-class, vlive, vlive-chplus, bgMozGradient);
        background: map-deep-get($event-class, vlive, vlive-chplus, bgWebkitGradient);
        background: map-deep-get($event-class, vlive, vlive-chplus, bgGradient);
        color: map-deep-get($event-class, vlive, vlive-chplus, color);

        // &:after {
        //     background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(84, 247, 255, 1) 75%, rgba(84, 247, 255, 1) 100%);
        // }
    }

    &.c-etc {
        background-color: map-deep-get($event-class, etc, bgColor);
        color: map-deep-get($event-class, etc, color);
    }
}

/* Media Query
--------------------------------------------------------------------------------------------------*/
// @media (max-device-width: 640px) {
//     .fc-event {
//         font-size: .6em !important;
//     }
// }