// Class
$event-class: (
    tv: (
        backgroundColor: #00a9ff,
        color: #fff
    ),
    radio: (
        backgroundColor: #ffbb3b,
        color: #fff
    ),
    record: (
        backgroundColor: #776b13,
        color: #fff
    ),
    fansign: (
        backgroundColor: #03bd9e,
        color: #fff
    ),
    univfest: (
        backgroundColor: #c347ae,
        color: #fff
    ),
    localevent: (
        backgroundColor: #4947c3,
        color: #fff
    ),
    concert: (
        backgroundColor: #c34781,
        color: #fff
    ),
    vlive: (
        backgroundColor: #54f7ff,
        color: #46465a
    )
)